<p id="notice"><%= notice %></p>

<div class=images>
  <h1>Your Bad Art</h1>
  <%= image_tag @image.link %>
<% (1..7).each do |i| %>  
<%= image_tag AWS::S3::S3Object.url_for("#{@image.id}/my_test#{i}.jpg", "BadArt")%>
<% end %>

<%= link_to 'Back', images_path %>
</div>

